# Exercise 1: Create a function in Python
    
Write a program to create a function that takes two arguments, name and age, and print their value.

In [3]:
# demo is the function name
def demo(name, age):
    # print value
    print(name, age)

# call function
demo("Ben", 25)

Ben 25

# Exercise 2: Create a function with variable length of arguments
    
Write a program to create function func1() to accept a variable length of arguments and print their value.

In [6]:
def func1(*args):
    for i in args:
        print (i)

In [7]:
func1(20, 40, 60)

20
40
60

In [8]:
func1(80, 100)

80
100

# Exercise 3: Return multiple values from a function

Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [14]:
def calculation(a, b):
    addition = a + b
    subtraction = a - b
    # return multiple values separated by comma
    return addition, subtraction

# get result in tuple format
res = calculation(40, 10)
print(res)

(50, 30)

In [13]:
def calculation(a, b):
    return a + b, a - b

# get result in tuple format
# unpack tuple
add, sub = calculation(40, 10)
print(add, sub)

50 30

# Exercise 4: Create a function with default argument
    
Write a program to create a function show_employee() using the following conditions.

It should accept the employeeâ€™s name and salary and display both.

If the salary is missing in the function call then assign default value 9000 to salary

In [15]:
def show_employee(name,salary=9000):
    print('Name:',name,'Salary:',salary)

In [16]:
show_employee("Ben", 12000)

Name: Ben Salary: 12000

In [17]:
show_employee("Jessa")

Name: Jessa Salary: 9000

# Exercise 5: Create an inner function to calculate the addition in the following way
    
Create an outer function that will accept two parameters, a and b

Create an inner function inside an outer function that will calculate the addition of a and b

At last, an outer function will add 5 into addition and return it

In [20]:
# outer function
def outer_fun(a, b):
    square = a ** 2

    # inner function
    def addition(a, b):
        return a + b

    # call inner function from outer function
    add = addition(a, b)
    # add 5 to the result
    return add + 5

result = outer_fun(5, 10)
print(result)

20

# Exercise 6: Create a recursive function
    
Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

A recursive function is a function that calls itself, again and again.

In [22]:
def addition(num):
    if num:
        # call same function by reducing number by 1
        return num + addition(num - 1)
    else:
        return 0

res = addition(10)
print(res)

55

# Exercise 7: Assign a different name to function and call it through the new name
    
Below is the function display_student(name, age). Assign a new name show_tudent(name, age) to it and call it using the new name.

In [23]:
def display_student(name, age):
    print(name, age)

# call using original name
display_student("Emma", 26)

# assign new name
showStudent = display_student
# call using new name
showStudent("Emma", 26)

Emma 26
Emma 26

# Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [24]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

# Exercise 9: Find the largest item from a given list

x = [4, 6, 8, 24, 12, 2]

In [25]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24